[submodule "jquery"]
	path = jquery
	url = git://github.com/jquery/jquery.git
[submodule "Modernizr"]
	path = Modernizr
	url = git://github.com/Modernizr/Modernizr.git
[submodule "express"]
	path = express
	url = git://github.com/visionmedia/express.git
[submodule "backbone"]
	path = backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "underscore"]
	path = underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "less.js"]
	path = less.js
	url = git://github.com/cloudhead/less.js.git
[submodule "ember.js"]
	path = ember.js
	url = git://github.com/emberjs/ember.js.git
[submodule "zepto"]
	path = zepto
	url = git://github.com/madrobby/zepto.git
[submodule "javascript-patterns"]
	path = javascript-patterns
	url = git://github.com/shichuan/javascript-patterns.git
[submodule "angular.js"]
	path = angular.js
	url = git://github.com/angular/angular.js.git
[submodule "jquery-mobile"]
	path = jquery-mobile
	url = git://github.com/jquery/jquery-mobile.git
[submodule "yui3"]
	path = yui3
	url = git://github.com/yui/yui3.git

[submodule "JX"]
	path = JX
	url = git://github.com/AlloyTeam/JX.git
[submodule "qwrap"]
	path = qwrap
	url = git://github.com/wedteam/qwrap.git
[submodule "Tangram-base"]
	path = Tangram-base
	url = git://github.com/BaiduFE/Tangram-base.git
[submodule "Qatrix"]
	path = Qatrix
	url = git://github.com/qatrix/Qatrix.git
[submodule "mass-Framework"]
	path = mass-Framework
	url = git://github.com/RubyLouvre/mass-Framework.git
[submodule "kissy"]
	path = kissy
	url = git://github.com/kissyteam/kissy.git
